body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: black url("../images/TBL3.jpg") top center no-repeat;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 145px;
    font-family: 'Faster One', cursive;
    text-align: center;
    margin-top: 215px;
   color: rgba(191, 99, 6);
}

h2 {
    font-size: 60px;

}

.startButton {
    margin-left: auto;
    color: white;
    margin-right: auto;
    display: block;
    height: 150px;
    width: 325px;
    font-size: 75px;
    font-family: 'Rock Salt', cursive;
    background: rgba(247, 247, 247, 0.01);
    border: none;
}

.startButton:hover {
    color: rgba(191, 99, 6);
}

.startButton:focus {
    outline: 0;
}

.buttonsClass button {
    height: 70px;
    width: 845px;
    margin-top: 20px;
    background-color: coral .5;
    text-shadow: none;
}

img {
    display: block;
    margin: 0 auto;
    width: 700px;
    height: 378px;
}

.btn1, .btn2, .btn3, .btn4 {
    display: block;
    margin: 0 auto;
    font-size: 25px;
    font-family: 'Rock Salt', cursive;
    padding: 0;
    background: rgba(247, 247, 247, 0.01);
    border: none;
}

.btn1:hover {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 30px;
}
.btn2:hover {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 30px;
}
.btn3:hover {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 30px;
}
.btn4:hover {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 30px;
}
.btn1:focus {
    outline: 0;
}
.btn2:focus {
    outline: 0;
}
.btn3:focus {
    outline: 0;
}
.btn4:focus {
    outline: 0;
}
.nextBtn {
    font-size: 25px;
    font-family: 'Rock Salt', cursive;
    padding: 0;
    background: rgba(247, 247, 247, 0.01);
    border: none;
}
.nextBtn:hover {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 30px;
}
.nextBtn:focus {
    outline: 0;
}

.timer, .counter {
    font-family: 'Rock Salt', cursive;
    margin-top: 20px;
    margin-bottom: 15px;
}

.ending {
    font-family: 'Rock Salt', cursive;
    margin-top: 20px;
    margin-bottom: 15px;
}

.wooPee {
    height: 450px;
    width: 400px;
}